/* Custom spacings similar to BS.v5 but mine. */

.mt-10 {
  margin-top: 10px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.my-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.my-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.my-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}
.mb-35 {
  margin-bottom: 35px !important;
}
.my-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.my-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}
.mb-45 {
  margin-bottom: 45px !important;
}
.my-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.my-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.my-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.mt-75 {
  margin-top: 75px !important;
}
.mb-75 {
  margin-bottom: 75px !important;
}
.my-75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

.mt-100 {
  margin-top: 100px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.my-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.mt-105 {
  margin-top: 105px !important;
}
.mb-105 {
  margin-bottom: 105px !important;
}
.my-105 {
  margin-top: 105px !important;
  margin-bottom: 105px !important;
}
